@charset "utf-8";

header nav ul li {
  list-style: none;
  /* 기본 목록 스타일 제거 */
  display: inline-block;
  /* 가로로 나열되게 함 */
  margin-right: 10px;
  /* 간격 설정 */
}


header ul>li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

header nav ul li:hover {
  background-color: red;
  color: blue;
  cursor: pointer;
 
}

header nav ul ul {
  display: none;
  /* 초기에는 하위 메뉴 숨김 */
  position: absolute;
  background-color: chartreuse;
  /* 하위 메뉴 배경색 설정 */
  padding: 2px;
}

header nav ul li:hover ul {
  display: block;
  /* 호버 시 하위 메뉴 보여줌 */
}